@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh;
  padding-top: 80px;           /* 好みの高さに調整 */
  text-align: center;
  margin: 0;
}