@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;    /* 横方向の中央揃え */
  text-align: center;
  margin: 40px auto;      /* 上下にほどよい余白 */
}

.table {
  width: auto;
  margin-bottom: 30px;
}

.mb-3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}